Repository bounswe/bounswe2024group9, pull requests merged in 2024-05, with the labels that each got.

#168 Api/tests documentation
  wiki_database_API/requirements.txt
  wiki_database_API/wiki_search/unittests.py
  wiki_database_API/wiki_search/urls.py
  wiki_database_API/wiki_search/views.py
  wiki_database_API/wikidata_django_practice/settings.py
  wiki_database_API/wikidata_django_practice/urls.py
  wiki_database_API/wikidata_django_practice/views.py
Labels: documentation, back end, testing

#173 Fixes related to problem in search result page of the mobile app
  BuRouteMobile/SearchResultDetail.tsx
  BuRouteMobile/WikidataSearch.tsx
Labels: bug, mobile

#195 Merge Mobile/test/search into mobile/route-creation
  .gitignore
  BuRouteMobile/__tests__/Login.test.tsx
  BuRouteMobile/__tests__/WikidataSearch.test.tsx
  BuRouteMobile/babel.config.js
  BuRouteMobile/jest.config.js
Labels: mobile, testing
